@tailwind base;
@tailwind components;
@tailwind utilities;

.pageWidth {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  background-color: #fcfbf7;
}

h1 {
  font-size: 60px;
  text-align: center;
  background-image: url("./images/Pattern-about.png");
  background-repeat: no-repeat;
  height: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #17395c;
  margin: 6.4008vh 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 1.469vh 0;
  color: #17395c;
}

nav div {
  cursor: pointer;
}

nav span {
  color: #c24229;
}

.hero {
  width: 100vw;
  margin: 47px auto;
  min-width: 320px;
}

.hero-image {
  width: 100%;
  height: 556px;
  object-fit: cover;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.projectItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 486px;
  height: 486px;
  margin: 2.5%;
}

.projectItem:hover .projectText {
  display: block;
}
.projectItem img {
  width: 100%;
  height: 100%;
}

.projectText {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 24, 40, 0.75);
}

.projectItem h2 {
  font-size: 24px;
  margin: 24px 0 0 24px;
  font-weight: 700;
  color: #efb758;
}

.projectItem p {
  line-height: 1;
  font-size: 16px;
  margin: 24px 0 0 24px;
  color: #ffffff;
}

.projectItem a {
  background-color: #efb758;
  padding: 1% 2%;
  position: absolute;
  bottom: 50px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 30px;
  font-size: 16px;
  color: #17395c;
  box-shadow:
    0px 71px 20px rgba(171, 134, 68, 0.01),
    0px 45px 18px rgba(171, 134, 68, 0.04),
    0px 25px 15px rgba(171, 134, 68, 0.15),
    0px 11px 11px rgba(171, 134, 68, 0.26),
    0px 3px 6px rgba(171, 134, 68, 0.29);
  border-radius: 24px;
}

.aboutSection {
  display: flex;
}

.aboutSection img {
  width: 282px;
  height: 282px;
  margin: 0 24px;
}

.aboutSection p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #17395c;
}

footer {
  max-width: 800px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  background-image: url("./images/footer-orange.png"), url("./images/footer-yellow.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    left top,
    right bottom;
  margin: 50px auto;
}

footer .socialLinks,
footer a {
  display: flex;
  align-items: center;
}

footer .socialLinks {
  gap: 24px;
}

footer a {
  gap: 10px;
}
