@tailwind base;
@tailwind components;
@tailwind utilities;

.pageWidth {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  background-color: #fcfbf7;
}

h1 {
  font-size: 60px;
  text-align: center;
  background-image: url("./images/Pattern-about.png");
  background-repeat: no-repeat;
  height: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #17395c;
  margin: 6.4008vh 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 1.469vh 0;
}

nav div {
  cursor: pointer;
}
nav span {
  color: #c24229;
}

.aboutSection {
  display: flex;
}

.aboutSection img {
  width: 282px;
  height: 282px;
  margin: 0 24px;
}

.aboutSection p {
  font-size: 16px;
  margin-bottom: 15px;
}

footer {
  max-width: 800px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  background-image: url("./images/footer-orange.png"), url("./images/footer-yellow.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    left top,
    right bottom;
  margin: 50px auto;
}

footer .socialLinks,
footer a {
  display: flex;
  align-items: center;
}

footer .socialLinks {
  gap: 24px;
}

footer a {
  gap: 10px;
}
